<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.}}</title>
</head>
<body>

<strong>{{.}}</strong><br>
<a href="/">Home</a><br>
<a href="/me">You</a><br>
<a href="/dog">Dog</a>

</body>
</html>
